<html>
<head>
  <title>welcome...</title>
    <meta charset="UTF-8">
 <link rel="stylesheet"  href="{{url_for('static', filename = 'css/bootstrap.css')}}">
    <script type="text/javascript" href="{{url_for('static', filename ='jquery/jquery-3.4.1.min.js')}}" charset="UTF-8"></script>
    <script type="text/javascript" href="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
</head>
 <body style="background:url(../static/images/bg1.jpg) no-repeat center center fixed; background-size: cover;">


    <div class="container">

    <div class="col-md-3 col-xs-2"></div>

    <div class="col-md-6 col-xs-8" style=" margin-top:10%;color:white;">
    <p style="font-size:80px;"><i>更多功能将在后端搭建完善</i><p>
    </div>


      <div class="col-md-3 col-xs-2"></div>
    </div> <!-- /container -->
</body>
</html>